.preparation_time_container {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.preparation_time_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.time_img {
    width: 2rem;
    height: 2rem;
}

.nutrition_container {
    display: flex;
    flex-direction: column;
}

.nutrition_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    width: 30%;
}

.nutrition_content {
    min-height: 100px;
    width: 60px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

}

.nutrition_value_wrapper {
    background-color: var(--white);
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 5px;
}

.nutrition_value {
    font-size: 14px;
    font-weight: 500;
}

.nutrition_subtitle {
    font-size: 12px;
}
.ingredient_header_wrapper{
    margin-bottom: 2rem;
}

.ingredient_container {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}

.ingredient_title {
    flex: 3;
}
.ingredient_additional_desc{
    font-size: 12px;
}

.ingredient_amount {
    flex: 1;
    text-align: right;
}

.ingredient_img_wrapper {
    background-color: var(--secondary-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredient_img {
    width: 3rem;
}
.instruction_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 50px;
    height: 80px;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 15px;
}

.instruction_header_wrapper{
    margin: 5rem 0 2rem 0;
}

.step_wrapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-error);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.step_number{
    color: var(--white);
    font-weight: 400;
}
.step_content{
    flex: 2;
}
